.jumbotron {
    padding-top: 6rem;
    background-color: rgb(149, 187, 202);
}

#about {
    padding: 1rem;
    background-color: white;
}

#projects {
    padding: 1rem;
    background-color: rgb(149, 187, 202);
}
